@import '../../../shared/shared';

.svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 0;

  @media screen and (min-width: toRem(576)) {
    width: 70%;
  }

  @media screen and (min-width: $md) {
    top: -5rem;
    width: 80%;
  }

  @media screen and (min-width: $xl) {
    top: -5rem;
    width: 40%;
  }
}
