.footer {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.links {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 14px;
    font-weight: 600;
}


.link {
    color: var(--dark-blue);
    font-size: 1.5rem;
}
