.goalContainer{
    max-width: 100%;
    min-height: 30rem;
    background: #F6F8FE;
    padding: 5rem;
    position: relative;
    overflow: hidden;
}

.toppat{
    position: absolute;
    top: -5px;
    right: 35%;
}

.conpat{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40rem;
}

.toptext{
    text-align: center;
}

.toptext h1{
    font-size: 2rem;
}

.toptext p{
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
}

.tooltip{
    position: absolute;
    right: -14px;
    bottom: -30px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background-color: blue;
}


.raised{
    margin: 1rem auto;
    text-align: center;
}

.raised span{
    color: blue;
    font-size: 20px;
    font-weight: 500;
}


.raised .amtraised{
    font-size: 2.5rem;
}


.progress-container {
    height: 6rem;
    width: 60%;
    border-radius: 10rem;
    margin: 3rem auto;
    background-color: #ffffff;
}

.progress-bar {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 10rem;
    background-color: crimson;

    /* width: 0;
    height: 30px;
    background-color: crimson;
    border-radius: 5px; */
    animation: progressAnimation linear infinite;
}

.circle1{
    position: absolute;
    left: 20rem;
    bottom: 0.7rem;
}

.circle2{
    position: absolute;
    left: 17rem;
    bottom: 3rem;
}

.circle3{
    position: absolute;
    left: 13rem;
    bottom: 0.4rem;
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
