.goalContainer{
    max-width: 100%;
    min-height: 30rem;
    background: #F6F8FE;
    padding: 5rem;
}

.toptext{
    text-align: center;
}

.toptext p{
    max-width: 43rem;
    margin: 1rem auto;
}

.donationBar{
    height: 5rem;
    width: 37%;
    border-radius: 10rem;
    margin: 3rem auto;
    background-color: #ffffff;
}

.donate-per{
    position: relative;
    display: block;
    height: 100%;
    width: 51%;
    border-radius: 10rem;
    background-color: crimson;
    animation: progress 0.4s ease-in-out forwards;
}

@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

.tooltip{
    position: absolute;
    right: -14px;
    bottom: -30px;
    /* font-size: 20px; */
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background-color: blue;
}

.raised span{
    color: blue;
    font-size: 20px;
    font-weight: 500;
}
