@import '../../../shared/shared';

.ruler {
  @include column-flex();
  position: absolute;
  right: toRem(-5);
  transform: translateX(100%);
  justify-content: space-between;

  @media screen and (min-width: $md) {
    right: toRem(-10);
    transform: translateX(100%);
  }
  @media screen and (min-width: $xl) {
    right: toRem(-20);
    transform: translateX(100%);
  }
}

.mark,
.thick-mark {
  width: toRem(6);
  max-height: toRem(1);
  background-color: rgb(187, 187, 187);
  flex-shrink: 0;
}

.thick-mark {
  width: toRem(12);
  max-height: toRem(3);
  position: relative;
  @include centered();
}

.mark-label {
  display: none;
  font-family: 'Lato', sans-serif;
  font-size: toRem(7);
  font-weight: 400;
  line-height: toRem(9);
  color: rgb(187, 187, 187);
  position: absolute;
  left: calc(100% + toRem(8));
  text-wrap: nowrap;

  @media screen and (min-width: $md) {
    display: inline-block;
    right: toRem(-10);
    transform: translateX(100%);
  }
}
