@import '../../../shared/shared';

$gap: 0.3;
$width: 43 + 10;

.container {
  box-sizing: content-box;
  @include centered();
  position: relative;
  width: toRem($width);

  @supports (aspect-ratio: calc(($width / 140))) {
    aspect-ratio: calc(($width) / 140);
    height: auto;
  }
}

.test-tube {
  @include column-centered();
  position: relative;
  width: min-content;
  transform-origin: center center;
}

.cylindar,
.cylindar-border {
  @include centered();
  position: relative;
  top: toRem(2);
  width: toRem(16.87);
  height: toRem(25.1 + 115.12 - 43.29);
  background-color: #e9f4f3;
  border-top-right-radius: toRem(50);
  border-top-left-radius: toRem(50);
  overflow: hidden;
  z-index: 1;
}

.cylindar-border {
  position: absolute;
  border: toRem(5) solid #cadddc;
  box-sizing: content-box;
  top: toRem(-3);
  z-index: 0;
}

.cylindar-fill {
  width: toRem((16.87 + 5) * 2);
  position: absolute;
  bottom: 0;
}

.sphere,
.sphere-border {
  @include centered();
  position: relative;
  width: toRem(43.29);
  height: toRem(43.29);
  background-color: #e9f4f3;
  border-radius: 50%;
  overflow: hidden;
}

.sphere-fill {
  width: toRem((43.29 + 5) * 2);
  position: absolute;
  bottom: 0;
  animation: shake 2s linear;
}

.sphere-border {
  position: absolute;
  border: toRem(5) solid #cadddc;
  box-sizing: content-box;
  bottom: toRem(-5);
}

.cylindar-shadow,
.sphere-shadow {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
}

.cylindar-shadow {
  right: calc(5.12 / 16.87 * 100%);
  top: 0;
}

.sphere-shadow {
  right: 16%;
  bottom: 15%;
}

.left-cylindar__shadow {
  width: toRem(4);
  height: toRem(60.51 + 16.15);
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: toRem(8.96);
  right: toRem(5.13);
  border-radius: toRem(50);
}

.circle-shadow {
  width: toRem(5);
  height: toRem(5);
  position: absolute;
  right: 65%;
  bottom: 20%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

@keyframes shake {
  0% {
    transform: translateY(100%) rotateZ(0deg);
  }
  25% {
    transform: translateY(75%) rotateZ(-10deg);
  }
  50% {
    transform: translateY(50%) rotateZ(0deg);
  }
  75% {
    transform: translateY(25%) rotateZ(10deg);
  }
  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}

.filled {
  transform: translateY(100%);
  animation: shake 2s linear 2s;
}

.sphere-animate {
  animation: shake 2s linear;
}
